{
   "account" : {
      "email" : "bogdan.chaplyk@gmail.com",
      "password" : "p3A9YSKIk8YYvSR5",
      "serverName" : "Pet space",
      "uid" : "{e4c271b9-1e97-4c62-ad96-f87a3aef60b9}",
      "uin" : 100001563403
   },
   "archive" : {
      "id" : 0,
      "maxEventLogSize" : 10,
      "name" : "Local archive",
      "path" : "/root/.IvideonServer/archive",
      "sizeLimit" : 5120,
      "sizeToCleanup" : 1024,
      "useArchive" : true,
      "useEventLog" : false,
      "webcamBitRate" : 3072,
      "webcamFrameRate" : 30,
      "webcamResolution" : 0,
      "webcamVideoFormat" : 1
   },
   "cameras" : [
      {
         "archiveId" : 0,
         "audioUrl" : "",
         "gui" : {
            "desktop" : {
               "channel" : 0,
               "manufacturer" : "Tecsar",
               "model" : "",
               "password" : "",
               "showAdvancedSettings" : true,
               "showSubstreamsSettings" : false,
               "syncSubstreams" : true,
               "user" : "admin"
            }
         },
         "id" : 0,
         "mdExcludedZoneList" : null,
         "mdSensitivity" : 50,
         "mdType" : "",
         "name" : "Tecsar",
         "ptzUrl" : "",
         "recordQuality" : "high",
         "recordType" : "continuous",
         "rtspTransport" : "auto",
         "schedule" : [
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "su",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "mo",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "tu",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "we",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "th",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "fr",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "sa",
               "end" : 86400
            }
         ],
         "soundDetectorThreshold" : 50,
         "streamHigh" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamLow" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamMedium" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamPreview" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "urlHigh" : "rtsp://192.168.1.10/user=admin&password=&channel=0&stream=0.sdp",
         "urlLow" : "",
         "urlMedium" : "",
         "urlPreview" : "",
         "useCamera" : true,
         "useCameraMotionDetector" : false,
         "useMotionDetector" : false,
         "usePreview" : false,
         "usePtz" : false,
         "useSound" : false,
         "useSoundDetector" : false
      },
      {
         "archiveId" : 0,
         "audioUrl" : "",
         "gui" : {
            "desktop" : {
               "channel" : 0,
               "manufacturer" : "",
               "model" : "",
               "password" : "admin",
               "showAdvancedSettings" : false,
               "showSubstreamsSettings" : true,
               "syncSubstreams" : true,
               "user" : "admin"
            }
         },
         "id" : 3,
         "mdExcludedZoneList" : null,
         "mdSensitivity" : 50,
         "mdType" : "",
         "name" : "IP Camera",
         "ptzUrl" : "",
         "recordQuality" : "high+low",
         "recordType" : "motion",
         "rtspTransport" : "auto",
         "schedule" : [
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "su",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "mo",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "tu",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "we",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "th",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "fr",
               "end" : 86400
            },
            {
               "action" : "rec_m",
               "begin" : 0,
               "dayOfWeek" : "sa",
               "end" : 86400
            }
         ],
         "soundDetectorThreshold" : 50,
         "streamHigh" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamLow" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamMedium" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "streamPreview" : {
            "audioBitrateKbps" : 0,
            "audioBufferLenSec" : 0,
            "audioMaxFrameSize" : 0,
            "videoBitrateKbps" : 0,
            "videoBufferLenSec" : 0,
            "videoMaxFrameSize" : 0
         },
         "urlHigh" : "rtsp://admin:admin@192.168.0.175:554/11/",
         "urlLow" : "rtsp://admin:admin@192.168.0.175:554/11/axis-media/media.amp?streamprofile=Bandwidth",
         "urlMedium" : "rtsp://admin:admin@192.168.0.175:554/11/axis-media/media.amp?streamprofile=Balanced",
         "urlPreview" : "http://admin:admin@192.168.0.175:554/11",
         "useCamera" : false,
         "useCameraMotionDetector" : false,
         "useMotionDetector" : false,
         "usePreview" : false,
         "usePtz" : false,
         "useSound" : false,
         "useSoundDetector" : false
      }
   ],
   "customDevInfo" : {
      "modulesPath" : ":/cdi_modules",
      "useModules" : true
   },
   "externalModules" : {
      "enabled" : true,
      "path" : ":/modules"
   },
   "gui" : {
      "desktop" : {
         "geometry" : [ 429, 115, 400, 600 ],
         "isHidden" : false,
         "isHiddenMode" : false,
         "isMaximized" : false,
         "language" : "en",
         "lastArchiveId" : 65535,
         "lastDvrId" : 65535,
         "lastId" : 3,
         "notifyUpdates" : true,
         "openIvideonPage" : true,
         "startWithWindows" : false,
         "useSecureConnection" : true
      }
   },
   "ivslog" : {
      "profile" : "default",
      "profiles" : {
         "default" : [
            {
               "in" : [ "qmmcast" ],
               "level" : "info",
               "out" : [
                  {
                     "file" : "/root/.IvideonServer/videoserver.log{1}~2048K"
                  }
               ]
            },
            {
               "in" : [ "*", "!rtsp" ],
               "level" : "info",
               "out" : [
                  {
                     "file" : "/root/.IvideonServer/service.log{1}~2048K"
                  }
               ]
            },
            {
               "in" : [ "rtsp" ],
               "level" : "info",
               "out" : [
                  {
                     "file" : "/root/.IvideonServer/RTSPClientDll.log{1}~2048K"
                  }
               ]
            }
         ]
      }
   },
   "localView" : {
      "gui" : {
         "desktop" : {
            "isNetworkEnabled" : true
         }
      },
      "passwordHash" : "",
      "proxyPort" : 3101,
      "streamerPort" : 6666,
      "useLocalView" : true
   },
   "network" : {
      "httpProxyUrl" : "http://:3128/",
      "useHttpProxy" : false
   },
   "system" : {
      "cloudConfig" : true,
      "cwd" : "/root/.IvideonServer"
   }
}
